$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$base-bg-color: #fff;
$base-text-color: #333;

$base-font-size: 17px;

$base-line-hight : $base-font-size * 1.5;

$base-link-color: red;
$base-link-hover: green;

